<script type='text/javascript'>
//some default pre init
var Countly = Countly || {};
Countly.q = Countly.q || [];

//provide countly initialization parameters
Countly.app_key = '47171f6404ee30299e994b23a060ffde89b0c3d3';
Countly.url = 'https://stats.wrobel.dev';
Countly.require_consent = true;

Countly.q.push(['group_features', {
    activity:["sessions","views"],
    interaction:["scrolls","clicks"]
}]);

Countly.q.push(['track_sessions']);
Countly.q.push(['track_pageview']);
Countly.q.push(['track_clicks']);
Countly.q.push(['track_scrolls']);
Countly.q.push(['track_errors']);

//load countly script asynchronously
(function() {
   var cly = document.createElement('script'); cly.type = 'text/javascript';
   cly.async = true;
   //enter url of script here
   cly.src = 'https://stats.wrobel.dev/sdk/web/countly.min.js';
   cly.onload = function(){Countly.init()};
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
})();

function initializeConsent() {
  //Consent Management logic should be implemented and controled by developer
  //this is just a simply example of what logic it could have
  if (typeof(localStorage) !== "undefined") {
      var consents = localStorage.getItem("consents");
      var refuseUntil = localStorage.getItem("refuseUntil");
      //checking if user already provided consent
      if(consents && consents !== "[]"){
          //we already have array with consents from previous visit, let's just pass them to Countly
          if (document.getElementById("gdpr-is-opted-in")) {
            document.getElementById("gdpr-is-opted-in").style.display = 'block';
            document.getElementById("gdpr-is-opted-out").style.display = 'none';
          }
          Countly.q.push(['add_consent', JSON.parse(consents)]);
      }
      else if (!refuseUntil || refuseUntil < Date.now()){
          // User has not consented, or the refuse duration has been exceeded
          document.getElementById("gdpr-consent").style.display = 'block';
          if (document.getElementById("gdpr-is-opted-in")) {
            document.getElementById("gdpr-is-opted-in").style.display = 'none';
            document.getElementById("gdpr-is-opted-out").style.display = 'block';
          }
      } else {
        if (document.getElementById("gdpr-is-opted-in")) {
          document.getElementById("gdpr-is-opted-in").style.display = 'none';
          document.getElementById("gdpr-is-opted-out").style.display = 'block';
        }
      }
  } else {
      // Sorry! No Web Storage support..
      // we can fallback to cookie
  }
}
//user can then change his mind and opt out or opt back in
//so let's provide these function to UI
function giveConsent(){
    //give consent to same 3 features
    var response = ["activity", "interaction", "crashes"];
    Countly.q.push(['add_consent', response]);
    localStorage.setItem("consents", JSON.stringify(response));
    localStorage.setItem("refuseUntil", Date.now())
    document.getElementById("gdpr-consent").style.display = 'none';
    if (document.getElementById("gdpr-is-opted-in")) {
      document.getElementById("gdpr-is-opted-in").style.display = 'block';
      document.getElementById("gdpr-is-opted-out").style.display = 'none';
    }
}
function removeConsent(refuseDuration){
    //remove consent from same 3 features
    var response = ["activity", "interaction", "crashes"];
    Countly.q.push(['remove_consent', response]);
    localStorage.setItem("consents", JSON.stringify([]));
    localStorage.setItem("refuseUntil", Date.now() + refuseDuration * 1000)
    document.getElementById("gdpr-consent").style.display = 'none';
    if (document.getElementById("gdpr-is-opted-in")) {
      document.getElementById("gdpr-is-opted-in").style.display = 'none';
      document.getElementById("gdpr-is-opted-out").style.display = 'block';
    }
}
</script>
