<script type='text/javascript'>
// Countly pre-initialization
var Countly = Countly || {};
Countly.q = Countly.q || [];

// Countly initialization parameters
Countly.app_key = '47171f6404ee30299e994b23a060ffde89b0c3d3';
Countly.url = 'https://stats.wrobel.dev';
Countly.require_consent = true;

Countly.q.push(['group_features', {
    activity:["sessions","views"]
}]);
Countly.q.push(['track_sessions']);
Countly.q.push(['track_pageview']);
Countly.q.push(['track_errors']);

// Initialize the countly script asynchronously on page load
(function() {
   var cly = document.createElement('script'); cly.type = 'text/javascript';
   cly.async = true;
   cly.src = 'https://stats.wrobel.dev/sdk/web/countly.min.js';
   cly.onload = function(){Countly.init()};
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
})();

// initializeConsent checks state for previously applied consents, restores consents if present, and toggles
// consent-related UI component visibility
function initializeConsent() {
  if (typeof(localStorage) !== "undefined") {
      var consents = localStorage.getItem("consents");
      var refuseUntil = localStorage.getItem("refuseUntil");
      // Checking if user already provided consent
      if(consents && consents !== "[]"){
        // We already have array with consents from previous visit, let's just pass them to Countly
        toggleConsentDisplay(true);
        Countly.q.push(['add_consent', JSON.parse(consents)]);
      }
      else if (!refuseUntil || refuseUntil < Date.now()){
        // User has not consented, or the refusal duration has been exceeded
        toggleConsentDisplay(null);
      } else {
        toggleConsentDisplay(false);
      }
  }
}

// setDisplayIfPresent is a helper function to update the display attribute on an element, if it is present in the DOM
function setDisplayIfPresent(id, display) {
  if (document.getElementById(id) !== null) {
    document.getElementById(id).style.display = display
  }
}

// toggleConsentDisplay shows or hides the consent-related UI components, based on whether the user is opted in or not
// Possible states for isOptedIn are:
//  - true: User has explicilty granted consent
//  - false: User has explicitly opted out of data collecting;  Do not show the banner notice
//  - null: User has neither opted in or out;  Show consent info on both the privacy page and display the banner notice
function toggleConsentDisplay(isOptedIn) {
  if (isOptedIn === true) {
    setDisplayIfPresent("gdpr-consent", "none");
    setDisplayIfPresent("gdpr-is-opted-in", "block");
    setDisplayIfPresent("gdpr-is-opted-out", "none");
  } else {
    if (isOptedIn === false) {
      setDisplayIfPresent("gdpr-consent", "none");
    } else {
      // Case where user hasn't decided yet, or decided more than 24 hours ago, and banner suppression interval is
      // passed, so we should display the GDPR banner notice
      setDisplayIfPresent("gdpr-consent", "block");
    }
    setDisplayIfPresent("gdpr-is-opted-in", "none");
    setDisplayIfPresent("gdpr-is-opted-out", "block");
  }
}

// giveConsent adds the consents with Countly
function giveConsent(){
    var response = ["activity", "crashes"];
    Countly.q.push(['add_consent', response]);
    localStorage.setItem("consents", JSON.stringify(response));
    localStorage.setItem("refuseUntil", Date.now())
    toggleConsentDisplay(true);
}

// giveConsent removes the consents with Countly and updates the local storage.  Duration to refuse consent for is
// passed in as a parameter
function removeConsent(refuseDuration){
    var response = ["activity", "crashes"];
    Countly.q.push(['remove_consent', response]);
    localStorage.setItem("consents", JSON.stringify([]));
    localStorage.setItem("refuseUntil", Date.now() + refuseDuration * 1000)
    toggleConsentDisplay(false);
}

</script>
