<div id="gdpr-consent">
  <p>
  GDPR Notice: This site reports basic user metrics to a private <a href="https://count.ly">Countly</a> server run on Digital
  Ocean, primarily so that I know if it's worth my time to maintain. <sup>[<a href="/privacy">Details</a>]</sup>
  </p>
  <div class="btn-group">
    <button type="button" class="button" onclick="removeConsent(900)">Sorry but No Thanks</button>
    <button type="button" class="button primary" onclick="giveConsent()">I Consent</button>
  </div>
</div>
